body {
  margin-top: 5%;
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  color: blue;
  text-align: center;
}

h1 {
    margin-bottom: 1%;
}
form {
  font-size: 40px;
  margin-bottom: 5%;
  outline: none;
}

input[type='radio'] {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}

#selecto1{
  color: black;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked:before {
  background: orange;
}

canvas {
width: 100px;
height: 100px;
margin-bottom: -5px;
}

#canvas1 {
  border-bottom:3px solid;
  border-right:3px solid;
  border-left: none;
  border-top: none;
  color: blue;
  font-size: 20px;
}
#canvas2 {
  border-bottom:3px solid;
  border-right:3px solid;
  border-left: none;
  border-top: none;
  margin-left: -5px;
}
#canvas3 {
  border-bottom:3px solid;
  border-right:none;
  border-left: none;
  border-top: none;
  margin-left: -5px;
}

#canvas4 {
  border-bottom:3px solid;
  border-right:3px solid;
  border-left: none;
  border-top: none;
  margin-top: -5px;
}

#canvas5 {
  border-bottom:3px solid;
  border-right:3px solid;
  border-left: none;
  border-top: none;
  margin-left: -5px;
  margin-top: -5px;
}

#canvas6 {
  border-bottom:3px solid;
  border-right:none;
  border-left: none;
  border-top: none;
  margin-left: -5px;
}

#canvas7 {
  border-bottom:none;
  border-right:3px solid;
  border-left: none;
  border-top: none;
  margin-top: -5px;
  margin-left: -5px;
}

#canvas8 {
  border-bottom:none;
  border-right:3px solid;
  border-left: none;
  border-top: none;
  margin-left: -5px;
  margin-top: -5px;
}

#canvas9 {
  border-bottom:none;
  border-right:none;
  border-left: none;
  border-top: none;
  margin-left: -5px;
}